export TERMINUS_SITE=[test-site-name]
export TERMINUS_TOKEN=[token]
export TERMINUS_BIN_PATH=[path-to-local-dev-terminus-dir]/terminus
export TERMINUS_DEPENDENCIES_BASE_DIR=[path-to-local-dev-terminus-dir]/terminus-data/dependencies-1
